# AP CS Project
# Alex, Johnny, Ethan, and Uday
#
# This is a template comment that you should paste verbatim.
# Fill out any necessary information:
#
# File: .gitignore
#
# Add your name here if you work on this file:
# Authors: Ethan

# MacOS
.DS_Store

# No .class files
bin/